# For centralized logging
# Send auth.log to the webserver (replace with webserver's internal IP if different)
auth.* @192.168.56.10:514

# Define template for logs received from other hosts
$template RemoteHostLog, "/var/log/%HOSTNAME%/%PROGRAMNAME%.log"

# Listen for remote syslog messages
$ModLoad imudp
$UDPServerRun 514
$ModLoad imtcp
$InputTCPServerRun 514

# Log remote messages to dedicated files
:FROMHOST, isequal, "192.168.56.20" ?RemoteHostLog # For logs from dbserver
& stop # Stop processing after matching